<p>
    <strong><%= l(:label_last_month_hours, scope: :monthly_spent_time)%>:</strong>
    <%= @last_month_hours %> <%= l(:field_hours)%>
</p>
<p>
    <strong><%= l(:label_current_month_hours, scope: :monthly_spent_time)%>:</strong>
    <%= @current_month_hours%><%= l(:field_hours)%>
</p>